body {
  --main-color: #212121;
  --secondary-color: #484848;
  --corner-radius: 3px;
  font-family: Roboto;
  background: var(--main-color);
  color: white;
}

*:visited {
  text-decoration: none;
}
*:link {
  text-decoration: none;
}

.app-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.app-title {
  letter-spacing: 0.1em;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.search-bar {
  border-radius: var(--corner-radius);
  border: none;
  padding: 0.5em;
}

.add-button {
  --button-size: 3em;
  height: var(--button-size);
  width: var(--button-size);
  border-radius: 100%;
  border: none;
  background: white;
  cursor: pointer;
}

.questions {
  overflow: auto;
  padding: 0 1em;
  height: 100%;
}

.q-preview {
  border-bottom: 2px solid white;
  padding-bottom: 1em;
}

.q-preview h3 {
  color: white;
}

.q-view {
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.q-question {
  border: none;
  font-size: 1.5em;
  margin: 1em 0;
  resize: none;
}

.q-answer {
  font-size: 1.2em;
  height: 100%;
  resize: none;
  margin-bottom: 1em;
}

.q-save {
  background: white;
  padding: 0.5em;
  border: none;
  border-radius: var(--corner-radius);
}
